@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
/* head section start */
.head_section {

    width: 1340px;
    height: 1200px;
    background: rgba(233, 222, 210, 0.952);
}
.nav_section {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-item {
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    display: flex;
    gap: 50px;
}

.header {
    text-align: center;
}

.about-us {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;

}

.explore-btn {
    width: 180px;
    height: 64px;
    background: #ffbf0ef1;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
}

.banner-img {
    width: 1040px;
    height: 600px;
    border-radius: 8px;

}
/* head section end */

/* our team */
.team-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 100px;
    border-radius: 8px;
    margin-top: 0px;


}

.team img {
    height: 270px;
    width: 270px;
}

.team-details {
    padding-left: 73px;
    padding-top: 0px;
    margin-right: 100px;
}
/* loveable & enjoyable features */
.love-enjoy-section {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;

}

.description-side {
    padding-right: 54px;
    height: 850px;
}

.love-enjoy-description {
    width: 500px;
}

.our-concept {
    font-weight: 600;
    font-size: 20px;
}

.know-us {
    width: 500px;
    padding: 2px 5px 2px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;
}

.love-enjoy-section img{
    width: 662px;
    height: 900px;
}

.love-enjoy-section button {

    transform: translate(-10%, -80%);

}

.experience-btn {
    width: 250px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    border: none;
}
/* our facts */
.facts {
    margin-left: 60px;
}

.all-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 169px;
    height: 150px;
    text-align: center;
    padding: 10px;
    transition: width 2s linear, height 2s linear, transform 3s;
}

.box-item:hover {
    width: 300px;
    height: 300px;
    background-color: aqua;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    padding-top: 50px;
    /* transform: rotate(360deg); */
    /* animation-play-state: running; */
    /* border: 3px solid red; */
    border-radius: 10px;
}
/* our sponsor companey */
.our-sponsors {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.our-company {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
}
/* footer */
footer {
    background: #FFF4E7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 100px;
}
